<div class="card-group">
    <div class="card img-container">
      <img src="../../assets/4.jpeg" alt="" class="img">
    </div>
    <div class="card ">
      <div class="card-body ">
        <h6 class="card-title">HEALTH</h6>
        <p class="card-text main-content">How did Van Gogh's Turbulent Mind Depict One of the Most Complex Concepts in Physics?</p>

        <p class="sub-conntent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit.</p>
        <img src="../../assets/download.jpg" alt="" class="profile-img"> 
        <p class="profile-name">   Lora Plammer </p> 
    <p class="sub-conntent">on Sep 29,2017 at 9:48am</p> 
    </div>
    </div>
   
  </div>
